@{
    Layout = null;
    ViewBag.Title = "比赛系统 - 移动版公告编辑";
    Game.Entity.NativeWeb.News entity = ViewData["Data"] == null ? null : ViewData["Data"] as Game.Entity.NativeWeb.News;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Admin/css/bootstrap-cerulean.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/charisma-app.css" rel="stylesheet" />
    <link href="~/Content/common.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/comm.js"></script>
</head>
<body>
    <div id="content" class="main-content">

        <div class="carousel box-inner">
            <div class="box-header well clearfix" data-original-title="">
                <h2><i class="glyphicon glyphicon-hand-right"></i>目前操作功能：@ViewBag.Title</h2>
            </div>
            <div class="tab-content" style="margin-top:0px">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">@(ViewBag.Info)新闻</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row" style="margin-top:5px;margin-bottom:5px;">
                            <div class="col-xs-2 col-md-2" style="text-align:right">标题：</div>
                            <div class="col-xs-6 col-md-3">
                                <input id="txtSubject" style="width: 395px; display: inline;" class="form-control input-sm" type="text" value="@(entity!=null?entity.Subject:"")">
                            </div>
                            <div class="col-xs-5 col-md-3" style="text-align:left">

                            </div>
                        </div>
                        <div class="row" style="margin-top:5px;margin-bottom:5px; display:none">
                            <div class="col-xs-2 col-md-2" style="text-align:right">广告图片：</div>
                            <div class="col-xs-6 col-md-3">
                                <img id="upImageUrl" src="/Content/Upload/Mobile/@(entity!=null?entity.ImageUrl:"")" alt="" title="" class="pull-left" style="width: 395px; height: 150px;" />
                                <input id="upImageField" name="SmallImageField" type="file" style="display:none" onchange='UploadImg("upImageField", "/Common/UploadFileToLocal", "upImageUrl",@((Int32)Game.Facade.EnumerationList.UploadFileEnum.MobileImg));'>
                                <button type="button" class="form-control btn btn-primary pull-left" onclick="$('input[id=upImageField]').click();"><span class="glyphicon glyphicon-open"></span>更新图片</button>
                            </div>
                            <div class="col-xs-5 col-md-3" style="text-align:left">

                            </div>
                        </div>
                        <div class="row" style="margin-top: 5px; margin-bottom: 5px; display: none">
                            <div class="col-xs-2 col-md-2" style="text-align:right">是否置顶：</div>
                            <div class="col-xs-6 col-md-3">
                                <p class="checkbox-radio">
                                    <span class="break-word"><input id="chkOnTop" type="checkbox" name="chkOnTop" @(entity!=null && entity.OnTop==1?"checked=\"checked\"":"") /> <label for="chkOnTop">是</label></span>
                                </p>
                            </div>
                            <div class="col-xs-5 col-md-3" style="text-align:left">

                            </div>
                        </div>
                        <div class="row" style="margin-top:5px;margin-bottom:5px;">
                            <div class="col-xs-2 col-md-2" style="text-align:right">内容：</div>
                            <div class="col-xs-6 col-md-3">
                                <textarea id="txtBody" class="form-control input-sm" style="width: 395px; display: inline;" rows="10">@(entity!=null?entity.Body:"")</textarea>
                            </div>
                            <div class="col-xs-5 col-md-3" style="text-align:left">

                            </div>
                        </div>
                    </div>

                    <ul class="list-group">
                        <li class="list-group-item">
                            <ul class="list-inline">
                                <li><a class="btn btn-success search btn-md" href="@Url.Action("MobileNoticeList", "Web")"><i class="glyphicon glyphicon-arrow-left"></i>返回</a></li>
                                <li><a class="btn btn-primary search btn-md" href="#" onclick="add();"><i class="glyphicon glyphicon-save"></i>保存</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
    <script type="text/javascript">      
        function add() {
            var data = {};
            data.NewsID = '@ViewBag.ID';
            var Subject = $("#txtSubject").val().trim();
            if (Subject == "") {
                alert("标题不能为空");
                return false;
            }
            data.Subject = Subject;

            var ImageUrl = $("#upImageUrl").attr("src").trim();
            var src = ImageUrl.substring(ImageUrl.lastIndexOf("/")+1);
            //if (src == "") {
            //    alert("请上传展示图");
            //    return false;
            //}
            data.ImageUrl = src;

            var Body = $("#txtBody").val().trim();
            if (Body == "") {
                alert("内容不能为空");
                return false;
            }
            data.Body = Body;
            var OnTop = $("#chkOnTop").is(":checked") ? 1 : 0;
            data.OnTop = OnTop;
            AjaxSubmit("/Web/DoMobileNoticeInfo", data, callBack, "del");
        }
        //回调函数
        function callBack(jsonData, fname) {
            switch (fname) {
                case "del":
                    alert(jsonData.Msg);
                    window.location.href = "/Web/MobileNoticeList";
                    //window.opener.location.reload();
                    break;
            }
        }
    </script>

</body>
</html>
