@{
    Layout = null;
    ViewBag.Title = "数据分析 - 汇总统计";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Admin/css/bootstrap-cerulean.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/charisma-app.css" rel="stylesheet" />
    <link href="~/Content/common.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/laydate/laydate.js"></script>
    <script src="~/Scripts/comm.js"></script> 
</head>
<body>
    <div id="content" class="main-content">

        <div class="carousel box-inner">
            <div class="box-header well clearfix" data-original-title="">
                <h2><i class="glyphicon glyphicon-hand-right"></i>目前操作功能：@ViewBag.Title</h2>
                <div class="box-icon">
                    <a href="#" class="btn btn-round btn-default" onclick="history.go(0);">
                        <i class="glyphicon glyphicon-repeat"></i>
                    </a>
                    <a href="#" class="btn btn-minimize btn-round btn-default">
                        <i class="glyphicon glyphicon-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="tab-content" style="margin-top:0px">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">用户付费欲望图</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <ul class="list-inline cursor-style">
                                <li>日期：
                                    <input id="txtStartDate" class="input-width-150" type="text" readonly="readonly" value="@ViewBag.StartTime" />至<input type="text" id="txtEndDate" class="input-width-150" readonly="readonly" value="@ViewBag.EndTime" />
                                </li>
                                <li><select id="ddlType"><option value="0">曲线图</option><option value="1">柱状图</option></select></li>
                                <li>
                                    <a class="btn btn-success search" href="#" id="btnquery"><i class="glyphicon glyphicon-zoom-in icon-white"></i>查询</a>
                                </li>
                                <li>
                                    <a class="btn btn-info search" href="#" id="advancedQuery"><i class="glyphicon glyphicon-hand-down"></i>最近30天</a>
                                </li>                              
                            </ul>
                        </div>
                        <div class="row">
                            <img id="pic" src="@Url.Action("UserStatisticsChart", new { startDate = ViewBag.StartTime, endDate = ViewBag.EndTime, type = 0 })" />
                        </div>
                    </div>
                    <div class="panel-heading">
                        <h3 class="panel-title">用户汇总数据</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td style="text-align:right;">用户付费欲望：</td>
                                            <td style="text-align:left;"><label id="ltPayDesire">@(ViewBag.PayDesire != null?ViewBag.PayDesire:"0.0")</label></td>
                                            <td style="text-align:right;">充值用户人数：</td>
                                            <td style="text-align:left;"><label id="ltPayUserCounts">@(ViewBag.PayUserCounts != null ? ViewBag.PayUserCounts : "0")</label>人</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;">二次充值人数：</td>
                                            <td style="text-align:left;"><label id="ltPayTwoUserCounts">@(ViewBag.PayTwoUserCounts != null ? ViewBag.PayTwoUserCounts : "0")</label>人</td>
                                            <td style="text-align:right;">充值用户转化率：</td>
                                            <td style="text-align:left;"><label id="ltPayRate">@(ViewBag.PayRate != null ? ViewBag.PayRate : "0.0")</label></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;">充值用户流失数：</td>
                                            <td style="text-align:left;"><label id="ltLossPayUserCounts">@(ViewBag.LossPayUserCounts != null ? ViewBag.LossPayUserCounts : "0")</label></td>
                                            <td style="text-align:right;">充值用户流失率：</td>
                                            <td style="text-align:left;"><label id="ltLossPayUserRate">@(ViewBag.LossPayUserRate != null ? ViewBag.LossPayUserRate : "0.0")</label></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;">充值大户人数：</td>
                                            <td style="text-align:left;"><label id="ltVIPPayUserTotal">@(ViewBag.VIPPayUserTotal != null ? ViewBag.VIPPayUserTotal : "0")</label></td>
                                            <td style="text-align:right;">注册用户总数：</td>
                                            <td style="text-align:left;"><label id="ltUserCounts">@(ViewBag.UserCounts != null ? ViewBag.UserCounts : "0")</label>人</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;">当月注册用户总数：</td>
                                            <td style="text-align:left;"><label id="ltCurrentMonthRegUserCounts">@(ViewBag.CurrentMonthRegUserCounts != null ? ViewBag.CurrentMonthRegUserCounts : "0")</label>人</td>
                                            <td style="text-align:right;">用户增长速率：</td>
                                            <td style="text-align:left;"><label id="ltNewRate">@(ViewBag.NewRate != null ? ViewBag.NewRate : "0")</label> <label style="color:green;">当月新增用户数/总用户数</label></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;">日注册用户数最高值：</td>
                                            <td style="text-align:left;"><label id="ltRegMaxCounts">@(ViewBag.RegMaxCounts != null ? ViewBag.RegMaxCounts : "0")</label>人</td>
                                            <td style="text-align:right;">活跃用户数：</td>
                                            <td style="text-align:left;"><label id="ltActiveUserCounts">@(ViewBag.ActiveUserCounts != null ? ViewBag.ActiveUserCounts : "0")</label>人</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;">用户平均在线时长：</td>
                                            <td style="text-align:left;"><label id="ltAVGOnlineTime">@(ViewBag.AVGOnlineTime != null ? ViewBag.AVGOnlineTime : "0")</label>秒</td>
                                            <td style="text-align:right;">活跃用户转化率：</td>
                                            <td style="text-align:left;"><label id="ltActiveUserRate">@(ViewBag.ActiveUserRate != null ? ViewBag.ActiveUserRate : "0")</label> <label style="color:green;">当月新增用户数/总用户数</label></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;">流失用户数：</td>
                                            <td style="text-align:left;"><label id="ltLossUserCounts">@(ViewBag.LossUserCounts != null ? ViewBag.LossUserCounts : "0")</label></td>
                                            <td style="text-align:right;">用户流失率：</td>
                                            <td style="text-align:left;"><label id="ltLossUserRate">@(ViewBag.LossUserRate != null ? ViewBag.LossUserRate : "0")</label> <label style="color:green;">流失用户数/总注册用户</label></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;">最高充值金额：</td>
                                            <td style="text-align:left;"><label id="ltPayUserOutflowTotal">@(ViewBag.PayUserOutflowTotal != null ? ViewBag.PayUserOutflowTotal : "0.0")</label>元</td>
                                            <td style="text-align:right;">今日最高充值金额：</td>
                                            <td style="text-align:left;"><label id="ltPayUserOutflowRate">@(ViewBag.PayUserOutflowRate != null ? ViewBag.PayUserOutflowRate : "0.0")</label>元</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;">注册用户人均APRU值：</td>
                                            <td style="text-align:left;"><label id="ltAPRUUser">@(ViewBag.APRUUser != null ? ViewBag.APRUUser : "0.0")</label>元</td>
                                            <td style="text-align:right;">充值用户人均APRU值：</td>
                                            <td style="text-align:left;"><label id="ltAPRUPayUser">@(ViewBag.APRUPayUser != null ? ViewBag.APRUPayUser : "0.0")</label>元</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <script type="text/javascript">
        var data = {};
        $(document).ready(function () {
            laydate.render({
                elem: '#txtStartDate'
            });
            laydate.render({
                elem: '#txtEndDate'
            });
            docReady();
        });
        function docReady() {
            //收放事件
            $('.btn-minimize').click(function (e) {
                e.preventDefault();
                var $target = $(this).parent().parent().next('.box-content');
                if ($target.is(':visible')) $('i', $(this)).removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
                else $('i', $(this)).removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
                $target.slideToggle();
            });
            $("#btnquery").click(function (e) {
                e.preventDefault();
                var startDate = $("#txtStartDate").val();
                var endDate = $("#txtEndDate").val();
                if (startDate == "" || endDate == "") {
                    alert("请选择时间");
                    return false;
                }
                data.startDate = startDate;
                data.endDate = endDate;
                data.type = parseInt($("#ddlType").val());
                add(1);
            });
            $("#advancedQuery").click(function (e) {
                e.preventDefault();
                var myDate = new Date();
                data.endDate = myDate.getFullYear() + "-" + (myDate.getMonth() + 1) + "-" + myDate.getDate();
                var stardate = new Date(myDate-29*24*3600*1000);
                data.startDate = stardate.getFullYear() + "-" + (stardate.getMonth() + 1) + "-" + stardate.getDate();
                data.type = parseInt($("#ddlType").val());
                add(1);
            });
        }
        function add(o) {
            if (o > 0) {
                $("#pic").attr("src", "@Url.Action("UserStatisticsChart", "DataAnalysis")?startDate=" + data.startDate + "&endDate=" + data.endDate + "&type=" + data.type + "&t="+Math.random());
            }        
        }
        function confirmStatistics() {
            var startDate = $("#startDate").val();
            var endDate = $("#endDate").val();
            if (startDate == "") { alert("请选择开始日期"); }
            if (endDate == "") { alert("请选择结束日期"); }
            $("#statisticsResult").load("/Statistics/AccessStatisticsView", { 'startDate': startDate, 'endDate': endDate });
        }
    </script>

</body>
</html>
