@{
    Layout = null;
    ViewBag.Title = "系统维护 - 系统设置";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Admin/css/bootstrap-cerulean.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/charisma-app.css" rel="stylesheet" />
    <link href="~/Content/common.css" rel="stylesheet" />
    
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/comm.js"></script>
    <script src="~/Content/laydate/laydate.js"></script>
</head>
<body>
    <div id="content" class="main-content">
        <div class="">
            <div class="carousel box-inner">
                <div class="box-header well clearfix" data-original-title="">
                    <h2><i class="glyphicon glyphicon-hand-right"></i>目前操作功能：@ViewBag.Title</h2>
                    <div class="box-icon">
                        <a href="#" class="btn btn-round btn-default" onclick="history.go(0);">
                            <i class="glyphicon glyphicon-repeat"></i>
                        </a>
                        <a href="#" class="btn btn-minimize btn-round btn-default">
                            <i class="glyphicon glyphicon-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <ul class="media nav nav-tabs margin-b-10">
                    @Html.Raw(ViewBag.LI)                   
                </ul>
                <div class="tab-content" style="margin-top:-11px">

                    <div class="panel panel-info">

                        <div class="panel-heading">
                            <h3 class="panel-title">@(ViewBag.StatusTip != null ? ViewBag.StatusTip : "")</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row" style="margin-top:5px;margin-bottom:5px;">
                                <div class="col-xs-2 col-md-1" style="text-align:right">键名：</div>
                                <div class="col-xs-6 col-md-3"><input id="txtStatusName" style="width:350px;display:inline;" class="form-control input-sm" disabled="disabled" type="text" maxlength="50" value="@(ViewBag.StatusName != null ? ViewBag.StatusName : "")"></div>
                                <div class="col-xs-4 col-md-2" style="text-align:left"></div>
                            </div>
                            <div class="row" style="margin-top:5px;margin-bottom:5px;">
                                <div class="col-xs-2 col-md-1" style="text-align:right">键值：</div>
                                <div class="col-xs-6 col-md-3"><input id="txtStatusValue" style="width:350px;display:inline;" class="form-control input-sm" type="text" maxlength="50" value="@(ViewBag.StatusValue != null ? ViewBag.StatusValue : "")"></div>
                                <div class="col-xs-4 col-md-2" style="text-align:left"></div>
                            </div>
                            <div class="row" style="margin-top:5px;margin-bottom:5px;">
                                <div class="col-xs-2 col-md-1" style="text-align:right">名称：</div>
                                <div class="col-xs-6 col-md-3"><input id="txtStatusTip" style="width:350px;display:inline;" class="form-control input-sm" type="text" maxlength="50" value="@(ViewBag.StatusTip != null ? ViewBag.StatusTip : "")"></div>
                                <div class="col-xs-4 col-md-2" style="text-align:left"></div>
                            </div>
                           
                            <div class="row" style="margin-top:5px;margin-bottom:5px;">
                                <div class="col-xs-2 col-md-1" style="text-align:right">备注：</div>
                                <div class="col-xs-6 col-md-3">
                                    <textarea id="txtStatusString" class="form-control input-sm" rows="3" style="width:350px;display:inline;" maxlength="80">@(ViewBag.StatusString != null ? ViewBag.StatusString : "")</textarea>                                   
                                </div>
                                <div class="col-xs-4 col-md-2" style="text-align:left"></div>
                            </div>
                            <div class="row" style="margin-top:5px;margin-bottom:5px;">
                                <div class="col-xs-2 col-md-1" style="text-align:right">描述：</div>
                                <div class="col-xs-6 col-md-3">
                                    <textarea id="txtStatusDescription" class="form-control input-sm" rows="5" style="width:350px;display:inline;" maxlength="150">@(ViewBag.StatusDescription != null ? ViewBag.StatusDescription : "")</textarea>
                                </div>
                                <div class="col-xs-4 col-md-2" style="text-align:left"></div>
                            </div>
                        </div>                      
                        <ul class="list-group">
                            <li class="list-group-item">
                                <ul class="list-inline">
                                    <li><a class="btn btn-primary search btn-md" href="#" onclick="add();"><i class="glyphicon glyphicon-save"></i>保存</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <script type="text/javascript">
        $(document).ready(function () {
            //收放事件
            $('.btn-minimize').click(function (e) {
                e.preventDefault();
                var $target = $(this).parent().parent().next('.box-content');
                if ($target.is(':visible')) $('i', $(this)).removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
                else $('i', $(this)).removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
                $target.slideToggle();
            });
        });
        function add() {
            var data = {};
            data.StrParam = '@ViewBag.StrParam';
            var StatusName = $("#txtStatusName").val();
            if (StatusName == "") {
                alert("键名不能为空");
                return false;
            }
            var StatusValue = $("#txtStatusValue").val();
            if (StatusValue == "") {
                alert("键值不能为空");
                return false;
            }
            var StatusTip = $("#txtStatusTip").val();
            if (StatusTip == "") {
                alert("名称不能为空");
                return false;
            }
            var StatusString = $("#txtStatusString").val();
            var StatusDescription = $("#txtStatusDescription").val();
            data.StatusName = StatusName;
            data.StatusValue = StatusValue;
            data.StatusTip = StatusTip;
            data.StatusString = StatusString;
            data.StatusDescription = StatusDescription;
            AjaxSubmit("/App/DoSystemSet", data, callBack, "add");
        }
        //回调函数
        function callBack(jsonData, fname) {
            switch (fname) {
                case "add":
                    alert(jsonData.Msg);
                    window.location.href = "/App/SystemSet?param=@ViewBag.StrParam";
                    break;
            }
        }
    </script>
</body>
</html>
