@{
    Layout = null;
    ViewBag.Title = "比赛系统 - 比赛配置";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Admin/css/bootstrap-cerulean.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/charisma-app.css" rel="stylesheet" />
    <link href="~/Content/common.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/comm.js"></script>
    <script charset="utf-8" src="~/Scripts/kindeditor-4.1.10/kindeditor-min.js"></script>
    <script charset="utf-8" src="~/Scripts/kindeditor-4.1.10/lang/zh_CN.js"></script>
</head>
<body>
    <div id="content" class="main-content">

        <div class="carousel box-inner">
            <div class="box-header well clearfix" data-original-title="">
                <h2><i class="glyphicon glyphicon-hand-right"></i>目前操作功能：@ViewBag.Title</h2>
            </div>
            <div class="tab-content" style="margin-top:0px">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">配置信息</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row" style="margin-top:5px;margin-bottom:5px;">
                            <div class="col-xs-2 col-md-2" style="text-align:right">比赛名称：</div>
                            <div class="col-xs-6 col-md-3">
                                <label id="lblMatchName">@ViewBag.MatchName</label>
                            </div>
                            <div class="col-xs-5 col-md-3" style="text-align:left">
                                
                            </div>
                        </div>
                        <div class="row" style="margin-top:5px;margin-bottom:5px;">
                            <div class="col-xs-2 col-md-2" style="text-align:right">比赛类型：</div>
                            <div class="col-xs-6 col-md-3">
                                <label id="lblMatchTypeName">@ViewBag.MatchTypeName</label>
                            </div>
                            <div class="col-xs-5 col-md-3" style="text-align:left">

                            </div>
                        </div>
                        <div class="row" style="margin-top:5px;margin-bottom:5px;">
                            <div class="col-xs-2 col-md-2" style="text-align:right">比赛状态：</div>
                            <div class="col-xs-6 col-md-3">
                                <label id="lblMatchStatusName">@Html.Raw(ViewBag.MatchStatusName)</label>
                            </div>
                            <div class="col-xs-5 col-md-3" style="text-align:left">

                            </div>
                        </div>
                        <div class="row" style="margin-top:5px;margin-bottom:5px;">
                            <div class="col-xs-2 col-md-2" style="text-align:right">所属游戏：</div>
                            <div class="col-xs-6 col-md-3">
                                <label id="lblKindName">@ViewBag.KindName</label>
                            </div>
                            <div class="col-xs-5 col-md-3" style="text-align:left">

                            </div>
                        </div>                       
                    </div>

                    <div class="panel-heading">
                        <h3 class="panel-title">奖励配置</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row" style="margin-top:5px;margin-bottom:5px;">
                            <div class="col-xs-2 col-md-2" style="text-align:right"></div>
                            <div class="col-xs-6 col-md-3">
                                @Html.Raw(ViewBag.strReward)
                            </div>
                            <div class="col-xs-5 col-md-3" style="text-align:left">

                            </div>
                        </div>                        
                    </div>

                    <div class="panel-heading">
                        <h3 class="panel-title">网站展示</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row" style="margin-top:5px;margin-bottom:5px;">
                            <div class="col-xs-2 col-md-2" style="text-align:right">比赛摘要：</div>
                            <div class="col-xs-6 col-md-3">
                                <textarea id="txtMatchSummary" style="width:350px;display:inline;" maxlength="300" rows="3" class="form-control input-sm">@ViewBag.MatchSummary</textarea>                               
                            </div>
                            <div class="col-xs-5 col-md-3" style="text-align:left">
                                <label style="color:red;">*请输入比赛摘要</label>
                            </div>
                        </div>
                        <div class="row" style="margin-top:5px;margin-bottom:5px;">
                            <div class="col-xs-2 col-md-2" style="text-align:right">比赛日期：</div>
                            <div class="col-xs-6 col-md-3">
                                <label id="lblMatchDate">@ViewBag.MatchDate</label>
                            </div>
                            <div class="col-xs-5 col-md-3" style="text-align:left">

                            </div>
                        </div>
                        <div class="row" style="margin-top:5px;margin-bottom:5px;">
                            <div class="col-xs-2 col-md-2" style="text-align:right">排序：</div>
                            <div class="col-xs-6 col-md-3">
                                <input id="txtSortID" style="width:350px;display:inline;" class="form-control input-sm" type="text" onkeyup="if(isNaN(value))execCommand('undo');" value="@ViewBag.SortID">
                            </div>
                            <div class="col-xs-5 col-md-3" style="text-align:left">

                            </div>
                        </div>
                        <div class="row" style="margin-top:5px;margin-bottom:5px;">
                            <div class="col-xs-2 col-md-2" style="text-align:right">展示图：</div>
                            <div class="col-xs-6 col-md-3">
                                <img id="upSmallImage" src="../Content/Upload/Match/@ViewBag.MatchImage" alt="" title="" class="pull-left" style="width: 150px;height: 150px;" />
                                <input id="SmallImageField" name="SmallImageField" type="file" style="display:none" onchange='Common.UploadImg("SmallImageField", "/Common/UploadFileToLocal", "upSmallImage",@((Int32)Game.Facade.EnumerationList.UploadFileEnum.MatchImg));'>
                                <button type="button" class="form-control btn btn-primary pull-left" style="margin: 0 0 0 0px; width:96px;" onclick="$('input[id=SmallImageField]').click();"><span class="glyphicon glyphicon-open"></span>更新图片</button>                              
                            </div>
                            <div class="col-xs-5 col-md-3" style="text-align:left">

                            </div>
                        </div>
                        <div class="row" style="margin-top:5px;margin-bottom:5px;">
                            <div class="col-xs-2 col-md-2" style="text-align:right">比赛描述：(<span style="color:red;">*</span>)：</div>
                            <div class="col-xs-6 col-md-3">
                                <textarea class="form-control input-sm" rows="15" placeholder="比赛描述" id="txtContent">@ViewBag.Content</textarea>
                            </div>
                            <div class="col-xs-5 col-md-3" style="text-align:left">

                            </div>
                        </div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <ul class="list-inline">
                                <li><a class="btn btn-success search btn-md" href="@Url.Action("Index", "Match")"><i class="glyphicon glyphicon-arrow-left"></i>返回</a></li>
                                <li><a class="btn btn-primary search btn-md" href="#" onclick="add();"><i class="glyphicon glyphicon-save"></i>保存</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
    <script type="text/javascript">
        //编辑器
        KindEditor.ready(function (K) {
            window.editor = K.create('#txtContent', { uploadJson: '/Common/UploadFileToLocal?op=2'});
        });
        function add() {
            var data = {};
            data.MatchID = parseInt('@ViewBag.ID');
            var MatchSummary = $("#txtMatchSummary").val().trim();
            if (MatchSummary == "") {
                alert("比赛摘要不能为空");
                return false;
            }
            data.MatchSummary = MatchSummary;

            var MatchImage = $("#upSmallImage").attr("src").trim();
            if (MatchImage=="") {
                alert("请上传展示图");
                return false;
            }
            data.MatchImage = MatchImage;

            var MatchContent = editor.html();
            if (MatchContent == "")
            {
                alert("比赛描述不能为空");
                return false;
            }
            var SortID = $("#txtSortID").val().trim();
            if (isNaN(SortID)) {
                alert("排序请输入数字");
                return false;
            } 
            AjaxSubmit("/Task/DoMatchConfigInfo", data, callBack, "del");
        }
        //回调函数
        function callBack(jsonData, fname) {
            switch (fname) {
                case "del":
                    alert(jsonData.Msg);
                    window.location.href = "/Match/Index";
                    //window.opener.location.reload();
                    break;
            }
        }
    </script>
</body>
</html>
